# Laravel:
APP_NAME=Notes
APP_ENV=local
APP_DEBUG=false
APP_URL=
APP_KEY=

# Database:
DB_HOST=db
DB_PORT=3306
DB_DATABASE=db
DB_USERNAME=db
DB_PASSWORD=db
DB_CONNECTION=mariadb

# Mail:
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_MAILER=smtp
