# Laravel:
APP_NAME=Notes
APP_ENV=local
APP_DEBUG=false
APP_URL=
APP_KEY=

# Database:
DB_HOST=db
DB_PORT=5432
DB_DATABASE=db
DB_USERNAME=db
DB_PASSWORD=db
DB_CONNECTION=pgsql

# Logging:
LOG_CHANNEL=nightwatch

# Mail:
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_MAILER=smtp

# Very basic auth:
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=admin

# Nightwatch:
NIGHTWATCH_TOKEN=
