# Next.js:
NEXT_PUBLIC_DEBUG_MODE=true
NEXT_LOGGING_BROWSER=false

# Better Auth:
BETTER_AUTH_SECRET=
BETTER_AUTH_URL="${DDEV_HOSTNAME}"
NEXT_PUBLIC_BETTER_AUTH_URL="${DDEV_HOSTNAME}"

# Sentry:
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=oleksyuk
SENTRY_PROJECT=notes-next-js